name: Release OpenAPI Specs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set short SHA
        run: echo "COMMIT_SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Build OpenAPI specs
        run: >
          mvn --no-transfer-progress -B clean verify
          -Popenapi
          -DskipTests
          -pl shiftservice,auditlog
          -am

      - name: Prepare OpenAPI artifacts
        run: |
          set -e
          mkdir release-artifacts
          cp shiftservice/target/openapi.json release-artifacts/shiftservice-openapi.json
          cp auditlog/target/openapi.json release-artifacts/auditlog-openapi.json

      - name: Build JSON schema events
        run: >
          mvn --no-transfer-progress -B clean verify
          -Pcodegen
          -DskipTests
          -pl shiftcontrol-lib
          -am

      - name: Prepare JSON Schema artifacts
        run: |
          set -e
          mkdir -p release-artifacts/json-event-schemas
          cp shiftcontrol-lib/target/*.schema release-artifacts/json-event-schemas/
          tar -czf release-artifacts/json-event-schemas.tar.gz -C release-artifacts json-event-schemas

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.COMMIT_SHORT_SHA }}
          name: shiftcontrol-java-backend-${{ env.COMMIT_SHORT_SHA }}
          files: |
            release-artifacts/shiftservice-openapi.json
            release-artifacts/auditlog-openapi.json
            release-artifacts/json-event-schemas.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
